<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="cordova-plugin-fusion-assessment" version="1.0.0">
  <name>FusionAssessment</name>
  <description>Fusionetic Plugin</description>
  <license>MIT</license>

  <engines>
    <engine name="cordova" version=">=4.0.0" />
  </engines>

  <dependency id="cordova-plugin-compat" version="^1.1.0" />
  <js-module src="www/FusionAssessment.js" name="FusionAssessment">
    <clobbers target="fusionetics.assessment" />
  </js-module>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="FusionAssessment">
        <param name="ios-package" value="AssessmentPlugin" />
      </feature>
    </config-file>

    <resource-file src="src/ios/ControllerAssessmentOverlay.xib" />
    <resource-file src="src/ios/ControllerAssessmentReview.xib" />
    <resource-file src="src/ios/AssessmentPlugin.bundle" />

    <header-file src="src/ios/AssessmentFocus.h" />
    <header-file src="src/ios/AssessmentManager.h" />
    <header-file src="src/ios/ControllerAssessmentOverlay.h" />
    <header-file src="src/ios/ControllerAssessmentReview.h" />
    <header-file src="src/ios/AssessmentExercise.h" />
    <header-file src="src/ios/AssessmentPlugin.h" />
    <header-file src="src/ios/AssessmentResult.h" />

    <source-file src="src/ios/AssessmentFocus.m" />
    <source-file src="src/ios/AssessmentManager.m" />
    <source-file src="src/ios/ControllerAssessmentOverlay.m" />
    <source-file src="src/ios/ControllerAssessmentReview.m" />
    <source-file src="src/ios/AssessmentExercise.m" />
    <source-file src="src/ios/AssessmentPlugin.m" />
    <source-file src="src/ios/AssessmentResult.m" />

    <framework src="AVFoundation.framework" />
    <framework src="AVKit.framework" />
    <framework src="CoreGraphics.framework" />
    <framework src="CoreMedia.framework" />
    <framework src="Foundation.framework" />
    <framework src="MobileCoreServices.framework" />
    <framework src="QuartzCore.framework" />
    <framework src="MaterialComponents/ActivityIndicator" type="podspec" spec="~> 19.0.2" />

    <preference name="CAMERA_USAGE_DESCRIPTION" default="" />
    <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
      <string>$CAMERA_USAGE_DESCRIPTION</string>
    </config-file>

    <preference name="MICROPHONE_USAGE_DESCRIPTION" default="" />
    <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
      <string>$MICROPHONE_USAGE_DESCRIPTION</string>
    </config-file>
  </platform>
  <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
          <feature name="FusionAssessment">
              <param name="android-package" value="com.fusionetics.plugins.bodymap.FusionAssessment" />
          </feature>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml">
          <uses-permission android:name="android.permission.CAMERA" />
          <uses-permission android:name="android.permission.RECORD_AUDIO" />
          <uses-permission android:name="android.permission.INTERNET" />
          <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
          <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
          <uses-feature android:name="android.hardware.camera" android:required="true" />
      </config-file>
      <source-file src="src/android/FusionAssessment.java" target-dir="src/cordova-plugin-fusion-bodymap/FusionAssessment" />
      <source-file src="src/android/Camera.java" target-dir="src/cordova-plugin-fusion-bodymap/FusionAssessment" />
      <source-file src="src/android/PermissionHelper.java" target-dir="src/cordova-plugin-fusion-bodymap/FusionAssessment" />
      <source-file src="src/android/FragmentConfirmationDialog.java" target-dir="src/cordova-plugin-fusion-bodymap/FusionAssessment" />
      <source-file src="src/android/CameraFragment.java" target-dir="src/cordova-plugin-fusion-bodymap/FusionAssessment" />
      <source-file src="src/android/AutoFitTextureView.java" target-dir="src/cordova-plugin-fusion-bodymap/FusionAssessment" />
      <source-file src="src/android/ThisPlugin.java" target-dir="src/cordova-plugin-fusion-bodymap/FusionAssessment" />
      <source-file src="src/android/BodymapEventHandler.java" target-dir="src/cordova-plugin-fusion-bodymap/FusionAssessment" />
      <source-file src="src/android/UploadEventHandler.java" target-dir="src/cordova-plugin-fusion-bodymap/FusionAssessment" />
      <source-file src="src/android/PreviewFragment.java" target-dir="src/cordova-plugin-fusion-bodymap/FusionAssessment" />
      <source-file src="src/android/FusioneticsExercise.java" target-dir="src/cordova-plugin-fusion-bodymap/FusionAssessment" />
      <source-file src="src/android/ApiSettings.java" target-dir="src/cordova-plugin-fusion-bodymap/FusionAssessment" />
      <source-file src="src/android/VideoSubmitter.java" target-dir="src/cordova-plugin-fusion-bodymap/FusionAssessment" />
      <source-file src="src/android/FusionResult.java" target-dir="src/cordova-plugin-fusion-bodymap/FusionAssessment" />
      <source-file src="src/android/ProgressBarHandler.java" target-dir="src/cordova-plugin-fusion-bodymap/FusionAssessment" />

      <source-file src="src/android/Objects/Video.java" target-dir="src/cordova-plugin-fusion-bodymap/FusionAssessment/Objects" />
      <source-file src="src/android/Objects/UploadResult.java" target-dir="src/cordova-plugin-fusion-bodymap/FusionAssessment/Objects" />
      <source-file src="src/android/Objects/EMASet.java" target-dir="src/cordova-plugin-fusion-bodymap/FusionAssessment/Objects" />

      <source-file src="src/android/res/drawable-hdpi/btn_start_record.png" target-dir="app/src/main/res/drawable-hdpi"/>
      <source-file src="src/android/res/drawable-hdpi/btn_stop_record.png" target-dir="app/src/main/res/drawable-hdpi"/>
      <source-file src="src/android/res/drawable-mdpi/btn_start_record.png" target-dir="app/src/main/res/drawable-mdpi"/>
      <source-file src="src/android/res/drawable-mdpi/btn_stop_record.png" target-dir="app/src/main/res/drawable-mdpi"/>
      <source-file src="src/android/res/drawable-xhdpi/btn_start_record.png" target-dir="app/src/main/res/drawable-xhdpi"/>
      <source-file src="src/android/res/drawable-xhdpi/btn_stop_record.png" target-dir="app/src/main/res/drawable-xhdpi"/>
      <source-file src="src/android/res/drawable-xxhdpi/btn_start_record.png" target-dir="app/src/main/res/drawable-xxhdpi"/>
      <source-file src="src/android/res/drawable-xxhdpi/btn_stop_record.png" target-dir="app/src/main/res/drawable-xxhdpi"/>

      <source-file src="src/android/res/drawable-ldpi/play.png" target-dir="app/src/main/res/drawable-ldpi"/>
      <source-file src="src/android/res/drawable-mdpi/play.png" target-dir="app/src/main/res/drawable-mdpi"/>
      <source-file src="src/android/res/drawable-hdpi/play.png" target-dir="app/src/main/res/drawable-hdpi"/>
      <source-file src="src/android/res/drawable-xhdpi/play.png" target-dir="app/src/main/res/drawable-xhdpi"/>
      <source-file src="src/android/res/drawable-xxhdpi/play.png" target-dir="app/src/main/res/drawable-xxhdpi"/>
      <source-file src="src/android/res/drawable-xxxhdpi/play.png" target-dir="app/src/main/res/drawable-xxxhdpi"/>

      <source-file src="src/android/res/drawable-ldpi/save.png" target-dir="app/src/main/res/drawable-ldpi"/>
      <source-file src="src/android/res/drawable-mdpi/save.png" target-dir="app/src/main/res/drawable-mdpi"/>
      <source-file src="src/android/res/drawable-hdpi/save.png" target-dir="app/src/main/res/drawable-hdpi"/>
      <source-file src="src/android/res/drawable-xhdpi/save.png" target-dir="app/src/main/res/drawable-xhdpi"/>
      <source-file src="src/android/res/drawable-xxhdpi/save.png" target-dir="app/src/main/res/drawable-xxhdpi"/>
      <source-file src="src/android/res/drawable-xxxhdpi/save.png" target-dir="app/src/main/res/drawable-xxxhdpi"/>

      <source-file src="src/android/res/drawable-ldpi/retake.png" target-dir="app/src/main/res/drawable-ldpi"/>
      <source-file src="src/android/res/drawable-mdpi/retake.png" target-dir="app/src/main/res/drawable-mdpi"/>
      <source-file src="src/android/res/drawable-hdpi/retake.png" target-dir="app/src/main/res/drawable-hdpi"/>
      <source-file src="src/android/res/drawable-xhdpi/retake.png" target-dir="app/src/main/res/drawable-xhdpi"/>
      <source-file src="src/android/res/drawable-xxhdpi/retake.png" target-dir="app/src/main/res/drawable-xxhdpi"/>
      <source-file src="src/android/res/drawable-xxxhdpi/retake.png" target-dir="app/src/main/res/drawable-xxxhdpi"/>

      <source-file src="src/android/res/drawable-ldpi/back.png" target-dir="app/src/main/res/drawable-ldpi"/>
      <source-file src="src/android/res/drawable-mdpi/back.png" target-dir="app/src/main/res/drawable-mdpi"/>
      <source-file src="src/android/res/drawable-hdpi/back.png" target-dir="app/src/main/res/drawable-hdpi"/>
      <source-file src="src/android/res/drawable-xhdpi/back.png" target-dir="app/src/main/res/drawable-xhdpi"/>
      <source-file src="src/android/res/drawable-xxhdpi/back.png" target-dir="app/src/main/res/drawable-xxhdpi"/>

      <source-file src="src/android/res/layout/camera_fragment.xml" target-dir="app/src/main/res/layout" />
      <source-file src="src/android/res/layout/media_player.xml" target-dir="app/src/main/res/layout" />

      <source-file src="src/android/res/values/dimens.xml" target-dir="app/src/main/res/values"/>
      <source-file src="src/android/res/values/colors.xml" target-dir="app/src/main/res/values"/>

      <source-file src="src/android/res/drawable/guides.xml" target-dir="app/src/main/res/drawable"/>

  </platform>  
  <platform name="windows">
    <js-module src="src/windows/CameraProxy.js" name="CameraProxy">
      <merges target=""/>
    </js-module>
  </platform>

</plugin>
