<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="cordova-plugin-fusion-assessment" version="1.0.0">
  <name>FusionAssessment</name>
  <description>Fusionetic Plugin</description>
  <license>MIT</license>

  <engines>
    <engine name="cordova" version=">=4.0.0" />
  </engines>

  <dependency id="cordova-plugin-compat" version="^1.1.0" />
  <js-module src="www/FusionAssessment.js" name="FusionAssessment">
    <clobbers target="fusionetics.assessment" />
  </js-module>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="FusionAssessment">
        <param name="ios-package" value="AssessmentPlugin" />
      </feature>
    </config-file>

    <resource-file src="src/ios/ControllerAssessmentOverlay.xib" />
    <resource-file src="src/ios/ControllerAssessmentReview.xib" />
    <resource-file src="src/ios/AssessmentPlugin.bundle" />

    <header-file src="src/ios/AssessmentFocus.h" />
    <header-file src="src/ios/AssessmentManager.h" />
    <header-file src="src/ios/ControllerAssessmentOverlay.h" />
    <header-file src="src/ios/ControllerAssessmentReview.h" />
    <header-file src="src/ios/AssessmentExercise.h" />
    <header-file src="src/ios/AssessmentPlugin.h" />
    <header-file src="src/ios/AssessmentResult.h" />

    <source-file src="src/ios/AssessmentFocus.m" />
    <source-file src="src/ios/AssessmentManager.m" />
    <source-file src="src/ios/ControllerAssessmentOverlay.m" />
    <source-file src="src/ios/ControllerAssessmentReview.m" />
    <source-file src="src/ios/AssessmentExercise.m" />
    <source-file src="src/ios/AssessmentPlugin.m" />
    <source-file src="src/ios/AssessmentResult.m" />

    <framework src="AVFoundation.framework" />
    <framework src="AVKit.framework" />
    <framework src="CoreGraphics.framework" />
    <framework src="CoreMedia.framework" />
    <framework src="Foundation.framework" />
    <framework src="MobileCoreServices.framework" />
    <framework src="QuartzCore.framework" />
    <framework src="MaterialComponents/ActivityIndicator" type="podspec" spec="~> 19.0.2" />

    <preference name="CAMERA_USAGE_DESCRIPTION" default="" />
    <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
      <string>$CAMERA_USAGE_DESCRIPTION</string>
    </config-file>

    <preference name="MICROPHONE_USAGE_DESCRIPTION" default="" />
    <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
      <string>$MICROPHONE_USAGE_DESCRIPTION</string>
    </config-file>
  </platform>
</plugin>
